
* {
    box-sizing: border-box;
    margin: auto auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

canvas {
    border: 1px solid black;
}